{% extends './../basee.html' %}

{% block content %}
	<!---about--->
	<section class="menuadd" id="about">
		<div class="menuadd-img">
			<img src="{{data.image.url}}">
		</div>

		<div class="menuaddform">
            <h2>Menu Update</h2>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="text" class="field form-control" placeholder="{{data.item_name}}" name="name">
				<input type="file" class="field form-control" name = 'image'>
				<input type="number" class="field form-control" placeholder="{{data.price}}" name='price' >
				<textarea placeholder="{{data.description}}" class="field form-control" name="description" ></textarea>
				<button type="submit" class="btn btn-warning" style="color: #fff;">Update</button>
            </form>
		</div>
	</section>
{% endblock %}